.app__header {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__title {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin-left: 24px;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.85);
}

.header__title:hover {
  cursor: pointer;
  color:#52C41A;
}

.header__create_article {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 32px;
  font-size: 14px;
  line-height: 22px;
  color:#52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}

.header__create_article:hover {
  cursor: pointer;
  background-color: #52C41A;
  color: white;
}

.header__label {
  display: flex;
  align-items: center;
  margin: 0 32px;
  height: 46px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.header__label:hover {
  cursor: pointer;
  scale: 1.05;
}

.header__user_image {
  width: 46px;
  height: 46px;
  margin-left: 10px;
}

.header__log_out {
  width: 109px;
  height: 51px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}

.header__log_out:hover {
  cursor: pointer;
  background-color: #52C41A;
  color: white;
}


.header__sign_in {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85)
}

.header__sign_in:hover {
  cursor: pointer;
  color: #52C41A;
}

.header__sign_up {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 51px;
  margin-left: 48px;
  margin-right: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}

.header__sign_up:hover {
  cursor: pointer;
  background-color: #52C41A;
  color: white;
}